{% load static %}
<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    
    <img src="{% static "whitelogo1.png" %}" alt="" >


    <hr class="sidebar-divider my-0">

  
    <li class="nav-item active">
        <a class="nav-link" href="/researcher_home">
            <i class="fas fa-fw fa-home"></i>
            <span>Home page</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="/allocate_equipment_researcher">
            <i class="fas fa-fw fa-hand-lizard"></i>
            <span>Allocate Equipment</span></a>
    </li>

  
    <li class="nav-item">
        <a class="nav-link" href="/view_researcher_equipment_allocation">
            <i class="fas fa-fw fa-list"></i>
            <span>Allocations list</span></a>
    </li>
    
 
    <li class="nav-item">
        <a class="nav-link" href="/view_researcher_HPC_scheduling">
            <i class="fa-solid fa-calendar"></i>
            <span>HPC scheduling</span></a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fa-solid fa-calendar"></i>
            <span>HPC time slots</span></a>
    </li> -->


    <li class="nav-item">
        <a class="nav-link" href="/researcher_profile">
            <i class="fas fa-fw fa-cog"></i>
            <span>Manage my account</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/researcher_about_us">
            <i class="fas fa-fw fa-info-circle"></i>
            <span>About us</span>
        </a>
    </li>



    <hr class="sidebar-divider d-none d-md-block">


    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  
   

</ul>