{% extends "allocatorhod_templates/researcher_base_template.html" %}
{% block page_title %}
   Allocate equipment
{% endblock page_title %}
{% block main_content %}
<div class="container-fluid">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
               
                <div class="row">
                      <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Allocate Equipment</h1>
                            </div>
                             {% url 'equipmentmanagementsystem:researcher_allocate_equipment' as action_path %}
                             {% include 'managerhod_templates/form_template.html' with messages=messages form=form action_path=action_path button_text="Allocate Equipment"  %}
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}