{% extends "allocatorhod_templates/student_base_template.html" %}
{% block page_title %}
   Equipment Allocation List
{% endblock page_title %}
{% block main_content %}
<div class="container-fluid">
    <div class="container">
   
           
                       <div class="card shadow mb-4">
                           
                           <div class="card-header py-3">
                               <h6 class="m-0 font-weight-bold text-primary">Equipments Allocation List</h6>
                           </div>
                           <div class="card-body">
                            <form method="post" action="/export_student_allocation">
                                {% csrf_token %}
                                Please select one of the appeared options: 
                                <label><input type="radio" name="format" value="csv"> CSV</label>
                                <label><input type="radio" name="format" value="pdf"> PDF</label>
                                <label><input type="radio" name="format" value="xls"> XLS</label>
                                <label for="filename">You can choose filename if you want:</label>
                                <input type="text" name="filename" id="filename">
                                <button class="btn bg-dark text-white mb-3" type="submit">Export</button>
                            </form>
                               <div class="table-responsive">

                                   <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                       <thead>
            <tr>
                <th>Equipment</th>
                
                
                <th>Start DateTime</th>
                <th>End DateTime</th>
               
            </tr>
        </thead>
        <tbody>
            {% for equipment_allocation in equipment_allocations %}
            <tr>
                <td>{{ equipment_allocation.equipment.name }}</td>
                
                
                <td>{{ equipment_allocation.start_datetime }}</td>
                <td>{{ equipment_allocation.end_datetime }}</td>
                
                     
                 </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
</div>
</div>

</div>


</div>


</div>
</div>
{% endblock main_content %}