{% extends 'registration/base.html' %}
{% block content %}
<form method='post'class="user">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        <input type="text" class="form-control form-control-user"
        id="{{ field.id_for_label }}"  name="{{ field.html_name }}" aria-describedby="emailHelp"
        placeholder="Enter Email Address...">
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
</form>
<hr>
<div class="text-center">
    <a class="small" href="{% url 'equipmentmanagementsystem:signaction' %}">Don't have an account? Create an Account!</a>
</div>
<div class="text-center">
    <a class="small" href="{% url 'equipmentmanagementsystem:show_login' %}">Already have an account? Login!</a>
</div>
{% endblock content %}