{% extends 'registration/base.html' %}

{% block content %}
{% if validlink %}
<form method='post'class="user">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        <input type="password" class="form-control form-control-user"
        id="{{ field.id_for_label }}"  name="{{ field.html_name }}" aria-describedby="passwordHelp
        placeholder="Enter New Password...">
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-user btn-block">Change Password</button>
</form>
{% else %}

<p>
    The Password Link Was Expired or Invalid
</p>
{% endif %}
{% endblock content %}